
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
     <h4>Name : Phoenix </h4>
     <h4>ID : 23-18101-1 </h4>
     <h4>Email : jawahiirn@gmail.com </h4>
     <h4>Contact : 01010101010 </h4>
     <h4> <a href="/Cover/Education">Education</a></h4>
     <h4> <a href="/Cover/References">References</a></h4>
     <h4> <a href="/Cover/Projects">Projects</a></h4>
</div>

