
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<ol>
    <li>Coaching Management System using Java</li>
    <li>Point Of Sales System using C#</li>
    <li>Real Time Threat & Detection System using machine learning</li>
    <li> <a href="https://github.com/jawahiir98"> GIT</li>
</ol>

