
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div class="col-lg-4">
    <div>
        <a href="/News/CreateNews"><input type="button" value="Create" /></a>
        <a href="/News/GetNews"><input type="button" value="View All News" /></a>
    </div>
</div>
