@model ORM.Models.Student
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<form action="/Student/Delete" method="post">
    <h2> Are you sure you want to delete ? </h2>
    <h3>Name: @Model.Name</h3>
    <h3>Gender: @Model.Gender</h3>
    <h3>CGPA: @Model.CGPA</h3>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Delete" />
</form>