@model Zero_Hunger.Models.Request
@{
    ViewBag.Title = "AddRequest";
}

<h2>AddRequest</h2>
<table class="table-bordered col-lg-4">
    <tr>
        <th>Name of restaurant</th>
        <th>Name of food</th>
        <th>Quantity of food</th>
        <th>Assign an employee</th>
    </tr>
    <tr>
        <form action="/Zero/" method="post">

        </form>
    </tr>
</table>
