
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        <a href="/Zero/AddRequest" class="btn-default">
            <input type="button" value="Add Request" />
        </a>
    </li>
    <li>
        <a href="/Zero/AddEmployee" class="btn-default">
            <input type="button" value="Add Employee" />
        </a>
    </li>
    <li>
        <a href="/Zero/ViewEmployee" class="btn-default">
            <input type="button" value="View Employee" />
        </a>
    </li>
    <li>
        <a href="/Zero/ViewRequest" class="btn-default">
            <input type="button" value="View Request" />
        </a>
    </li>
    <li>
        <a href="" class="btn-default">
            <input type="button" value="View Collected Requests" />
        </a>
    </li>
</ul>