@model List<Zero_Hunger.Models.Request>
@{
    ViewBag.Title = "ViewRequest";
}

<h2>ViewRequest</h2>
<table class="table-bordered col-lg-4">
    <tr>
        <th> </th>
        <th>Restaurant Name</th>
        <th>Food Name</th>
        <th>Quantity Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <form action="/Zero/Assign" >
            <tr>
                <td><input type="text" value="@item.Id" name="Id" class="invisible" /></td>
                <td>
                    <input type="text" value="@item.RetaurantName" name="RestaurantName" />
                </td>
                <td>
                    <input type="text" value="@item.FoodName" name="FoodName" />
                </td>
                <td>
                    <input type="text" value="@item.Quantity" name="Quantity" />
                </td>
                <td>
                    <input type="submit" value="Assign" />
                </td>
            </tr>
        </form>
    }
</table>